<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Cellular, battery-powered analog-to-digital gauge reader<br>plus SaaS infrastructure to collect and analyze data using Computer Vision.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img width="120" height="120" src="">
                    <h4 class="service-heading">Prototyping</h4>
                    <p class="text-muted">Image showing breadboard prototype</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img width="120" height="120" src="">
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Image showing schematic, PCB layout, and 3D model of PCB</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img width="120" height="120" src="">
                    <h4 class="service-heading">Fabrication</h4>
                    <p class="text-muted">Picture of v3 PCB</p>
                </div>
                <div class="col-lg-3 text-center">
                    <img width="120" height="120" src="">
                    <h4 class="service-heading">Computer Vision</h4>
                    <p class="text-muted">Screenshot of computer Computer Vision</p>
                </div>
            </div>
        </div>
    </section>
